body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(244, 244, 244, 0.8); /* Slightly transparent background color */
    color: #181212e9;
    background-image: url('beijing.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fixed background */
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); /* Frosted glass effect */
    opacity: 0.8; /* Overall opacity to 80% (20% transparency) */
}

h1, h2 {
    color: #dd3e3ea9;
}

section {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

section:last-child {
    border-bottom: none;
}

a {
    color: #0b0c0cd7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}
